*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto Slab', serif;
   background: #fffafa;
   color:#042431;
   
}

main, section, footer {
   padding: 0.625rem;
  /*  border: 0.063rem solid #000000; */
}

h1, h2 {
    font-family: 'Yellowtail', cursive;
    padding:8px;
    text-align: center;
    background-color: transparent;
}

/*-----------------
 	Header Section
-------------------*/
header {
    display: flex;
    justify-content: center;
    text-align: center;
}
header h1 {
    font-size: 2.5rem;
    margin-right: auto;
    font-family: 'Yesteryear', cursive;
}

header h3 {
    font-style: italic;
}
.logo {
    height: 100px;
    margin-right: auto;
    align-items: center;
  }

/*-----------------
 	Banner Section
-------------------*/
.banner {
    background-image: url(../images/2.jpg);
    min-height: 28.75rem;
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-box {
    background-color: rgba(0, 0, 0, 0.33);
    height: 12.5rem;
    display: flex;
    justify-content: center;
    min-width: 300px; 
    align-items: center;
}

.title-box h1 {
    color:white;
    opacity: 1;
    min-width: 300px;
    font-family: 'Roboto Slab', serif;
}

/*---------------------------------------
 	One-Liner Section - Flex items
-----------------------------------------*/

.liner-box p {
    text-align: center;
}
/*---------------------------------------
 	Contact Section - Flex items
-----------------------------------------*/

.contact p {
    text-align: center;
}

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .wrapper {
        margin: auto;
        max-width: 75rem;
    }
 }